<!-- Запускает RtabMap, обнаружение препятствий и отправку сообщений о препятствиях на программу
     управления -->
<launch>
    <include file="$(find rtabmap_ros)/launch/rgbd_mapping.launch">
        <arg name="rtabmap_args" value="--delete_db_on_start"/>
    </include>
    <include file="$(find ar600_vision)/launch/obstacle_detector.launch">
    </include>
    <node name="obstacle_communicator" pkg="ar600_vision" type="obstacle_communicator" output="screen"/>
</launch>